$bg-dark: #212121;
$c-primary: #f9d36d;

.__dd {
    &__block {
        &-on {
            background: $bg-dark;
            position: relative;
            overflow: hidden;
            &__inner {
                min-height: 100vh;
                position: relative;
                z-index: 2;
            }
            &__top {
                height: 110px;
                color: #fff;
                display: flex;
                align-items: flex-end;
                ul {
                    display: flex;
                }
                &__left {
                    ul {
                        li {
                            margin-right: 70px;
                            font-size: 18px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                &__right {
                    margin-left: auto;
                    ul {
                        li {
                            margin-left: 30px;
                            font-size: 14px;
                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            &__main {
                display: flex;
                &__left {
                    // width: 725px;
                    // min-width: 725px;
                    width: 50%;
                    min-width: 50%;
                    height: calc(100vh - 110px);
                    display: flex;
                    flex-direction: column;
                    padding-top: 120px;
                    &__title {
                        color: #fff;
                        margin-bottom: 70px;
                        &__sub {
                            @include fontItalic();
                            font-size: 3.3vw;
                            line-break: 91.5%;
                        }
                        &__text {
                            @include fontBold();
                            text-transform: 11.3vw;
                            font-size: 11.3vw;
                            line-height: 91.5%;
                        }
                    }
                    &__link {
                        margin-bottom: 20px;
                        a {
                            color: $c-primary;
                            font-size: 24px;
                            span {
                                font-weight: 900;
                            }
                        }
                    }
                    &__scroll {
                        margin-top: auto;
                        margin-bottom: 150px;
                        a {
                            padding: 0;
                            border: 0;
                            background: transparent;
                            cursor: pointer;
                            outline: none;
                            transition: .25s all ease;
                            display: inline-block;
                            &:hover {
                                transform: translateY(10px);
                            }
                        }
                    }
                }
                &__right {
                    padding-left: 30px;
                    display: flex;
                    align-items: flex-end;
                    height: calc(100vh - 110px);
                    width: 100%;
                    justify-content: center;
                    padding-top: 50px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        width: auto !important;
                        height: auto !important;
                    }
                }
            }
            &__circles {
                &__block {
                    border: 1px solid rgba(255, 255, 255, 0.06);
                    border-radius: 100%;
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    &.is--on {
                        width: 70vw;
                        height: 70vw;
                        animation: pulse 2.7s infinite;
                    }
                    &.is--tw {
                        width: 48vw;
                        height: 48vw;
                        animation: pulse1 2.7s infinite;
                    }
                    &.is--th {
                        width: 33vw;
                        height: 33vw;
                        border: none;
                        background: $c-primary;
                        animation: pulse2 2.7s infinite;
                    }
                }
            }
        }
        &-tw {
            padding-top: 130px;
            overflow: hidden;
            &__top {
                margin-bottom: 50px;
                &__overlay {
                    padding-bottom: 100px;
                }
                &__inner {
                    padding-left: 32.8vw;
                }
            }
            &__center {
                margin-bottom: 180px;
                &__inner {
                    padding-left: 32.8vw;
                    display: flex;
                }
                &__block {
                    margin-right: 60px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &__circle {
                        margin-bottom: 15px;
                        span {
                            width: 53px;
                            height: 53px;
                            display: block;
                            border-radius: 100%;
                            margin: 0 auto;
                        }
                    }
                    &__hex {
                        font-size: 14px;
                    }
                }
            }
            &__pbottom {
                margin-bottom: 50px;
                &__inner {
                    padding-left: 32.8vw;
                    padding-right: 125px;
                    ul {
                        display: flex;
                        justify-content: space-between;
                        li {
                            font-size: 14px;
                        }
                    }
                }
            }
            &__bottom {
                padding-bottom: 25vw;
                &__inner {
                    padding-left: 125px;
                    padding-right: 125px;
                    position: relative;
                }
            }
        }
        &-th {
            .__dd__bg-text.__dd__is--bgf7::before {
                background: #F9D36D;
            }
            background: #F9D36D;
            padding-bottom: 170px;
            &__wrap {
                padding-left: 125px;
                padding-right: 125px;
            }
            &__top {
                transform: translateY(-50%);
                position: relative;
                &__overlay {
                    // margin-top: -190px;
                }
                &__inner {
                    padding-left: 32.8vw;
                }
            }
            &__main {
                &__inner {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 -30px;
                }
                &__block {
                    padding: 0 30px;
                }
            }
        }
        &-fo {
            position: relative;
            background: #fff;
            &::after {
                content: '';
                background: #F7F7F7;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 530px;
            }
            &__inner {
                z-index: 2;
                position: relative;
            }
            &__top {
                padding-top: 130px;
            }
            &__main {
                &__inner {
                    img {
                        transform: translateY(-110px);
                    }
                }
                &__mobile {
                    display: none;
                }
            }
        }
        &-fv {
            background: #212121;
            overflow: hidden;
            &__inner {
                padding: 125px 0;
            }
            &__wrap {
                span {
                    display: block;
                    height: 43.5vw;
                    width: 100%;
                    background: url(../../img/screens.png);
                    background-repeat: repeat-x;
                    background-position: center;
                    background-size: cover;
                    animation: 100s ease screens alternate infinite;
                }
            }
        }
        &-sx {
            &__inner {
                padding: 120px 0;
            }
            &__wrap {
                text-align: center;
                img {
                    max-width: 970px;
                }
            }
        }
        &-sv {
            background: url(../../img/screens_bg.jpg);
            height: 100vh;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        &-ei {
            padding: 140px 0 120px 0;
            &__inner {
                text-align: center;
            }
            &__title {
                @include fontBold();
                font-size: 48px;
                margin-bottom: 30px;
            }
            &__link {
                a {
                    color: $c-primary;
                    font-size: 24px;
                    span {
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .__dd {
        &__block {
            &-fo {
                padding-bottom: 100px;
                &__top {
                    padding: 100px 0;
                }
                &__main {
                    &__inner {
                        img {
                            transform: none;
                        }
                    }
                }
                &::after {
                    content: none;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .__dd {
        &__block {
            &-on {
                &__top {
                    height: 70px;
                    &__left {
                        ul {
                            li {
                                margin-right: 30px;
                            }
                        }
                    }
                }
                &__main {
                    &__left {
                        width: 100%;
                    }
                    &__right {
                        display: none;
                    }
                }
            }
            &-tw {
                &__top,
                &__center,
                &__bottom {
                    &__inner {
                        padding-left: 50px;
                    }
                }
                &__top {
                    margin-bottom: 90px;
                    &__overlay {
                        padding-bottom: 0;
                    }
                }
                &__center {
                    margin-bottom: 90px;
                    &__block {
                        margin-right: 30px;
                    }
                }
                &__pbottom {
                    margin-bottom: 20px;
                }
                &__bottom {
                    padding-bottom: 30vw;
                    &__inner {
                        padding-right: 0;
                    }
                }
            }
            &-th {
                &__top {
                    &__inner {
                        padding-left: 50px;
                    }
                }
                &__wrap {
                    padding-left: 50px;
                    padding-right: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .__dd {
        &__block {
            &-on {
                &__top {
                    height: auto;
                    display: block;
                    padding: 15px 0;
                    &__left {
                        ul {
                            flex-wrap: wrap;
                            li {
                                margin: 0 15px 15px 0;
                                font-size: 16px;
                            }
                        }
                    }
                    &__right {
                        margin-left: 0;
                        ul {
                            flex-wrap: wrap;
                            li {
                                margin: 0 15px 15px 0;
                            }
                        }
                    }
                }
                &__circles {
                    &__block {
                        &.is--th {
                            width: 70vw;
                            height: 70vw;
                        }
                        &.is--tw {
                            width: 106vw;
                            height: 106vw;
                        }
                        &.is--on {
                            width: 160vw;
                            height: 160vw;
                        }
                    }
                }
                &__main {
                    &__left {
                        min-height: auto;
                        padding-top: 30px;
                        height: auto;
                        &__title {
                            margin-bottom: 40px;
                            &__sub {
                                font-size: 8.3vw;
                            }
                            &__text {
                                font-size: 23.3vw;
                            }
                        }
                        &__link {
                            a {
                                color: #fff;
                            }
                        }
                        &__scroll {
                            margin-top: 50px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &-tw {
                padding-top: 50px;
                &__top {
                    margin-bottom: 50px;
                    &__inner {
                        padding-left: 0;
                    }
                    &__overlay {
                        padding-bottom: 0;
                    }
                }
                &__center {
                    margin-bottom: 30px;
                    &__inner {
                        padding-left: 0;
                        flex-wrap: wrap;
                    }
                    &__block {
                        margin-bottom: 20px;
                        margin-right: 20px;
                        min-width: 70px;
                    }
                }
                &__pbottom {
                    &__inner {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                &__bottom {
                    &__inner {
                        padding-left: 0;
                    }
                }
            }
            &-th {
                padding-bottom: 50px;
                &__wrap {
                    padding-left: 0;
                }
                &__top {
                    &__inner {
                        padding-left: 0;
                    }
                }
            }
            &-fo {
                padding-bottom: 50px;
                &__top {
                    padding: 50px 0;
                }
                &__main {
                    &__inner {
                        display: none;
                    }
                    &__mobile {
                        display: block;
                    }
                }
            }
            &-fv {
                &__inner {
                    padding: 50px 0;
                }
                &__wrap {
                    span {
                        animation-duration: 150s;
                    }
                }
            }
            &-sx {
                &__inner {
                    padding: 50px 0;
                }
            }
            &-ei {
                padding: 50px 0;
                &__title {
                    font-size: 28px;
                    margin-bottom: 10px;
                }
                &__link {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .__dd {
        &__block {
            &-th {
                &__top {
                    &.__dd__right-text {
                        transform: none;
                    }
                }
                &__main {
                    padding-top: 50px;
                    &__inner {
                        margin: 0;
                    }
                    &__block {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(#fff, 0.04);
    }
    70% {
        transform: translate(-50%, -50%) scale(1.05);
        box-shadow: 0 0 0 40px rgba(#fff, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(#fff, 0);
    }
}

@keyframes pulse1 {
    0% {
      box-shadow: 0 0 0 0 rgba(#fff, 0.04);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        box-shadow: 0 0 0 40px rgba(#fff, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(#fff, 0);
    }
}

@keyframes pulse2 {
    0% {
      box-shadow: 0 0 0 0 rgba($c-primary, 0.4);
    }
    30% {
        transform: translate(-50%, -50%) scale(1.1);
        box-shadow: 0 0 0 40px rgba($c-primary, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($c-primary, 0);
    }
}

@keyframes screens{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -10000px;
    }
}